<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, intital-scale=1.0">
    <link rel="stylesheet" href="/static/css/styleIndex.css">
</head>
<body>
    <header>    
        <ul class="topnav">
            <li><a class="active" href="/">Home</a></li>
            <li class="mid"><a>Groupie-Tracker</a></li>
        </ul>
    </header>
    <div class="grid">
    {{range .}} <!-- Loop through the artists -->
            <div class="artist grid-item">
                <a href="/id/{{.Id}}">
                    <img src="{{.Image}}" alt="{{.Name}}'s image">
                    <div class="name-overlay">{{.Name}}</div>
                </a>
            </div>
        {{end}} <!-- End loop -->
    </div>
</body>
</html>